/*-- tab bar colours --*/
.bar.SAN,.bar.SAN:nth-of-type(2n) .title,.entry.SAN dd,.entry.SAN:nth-of-type(2n) dd:nth-of-type(2n)
{
    background-color: #562819;
}

.bar.SAN .title,.entry.SAN dd:nth-of-type(2n)
{
    background-color: #633220;
}

.bar.SAN:nth-of-type(2n),.entry.SAN:nth-of-type(2n) dd
{
    background-color: #461e12;
}

.bar.SAN,.bar.PX:nth-of-type(2n) .title,.entry.PX dd,.entry.PX:nth-of-type(2n) dd:nth-of-type(2n)
{
    background-color: #092d57;
}

.bar.PX .title,.entry.PX dd:nth-of-type(2n)
{
    background-color: #0c3764;
}

.bar.PX:nth-of-type(2n),.entry.PX:nth-of-type(2n) dd
{
    background-color: #052246;
}

.bar.SAN,.bar.HIT:nth-of-type(2n) .title,.entry.HIT dd,.entry.HIT:nth-of-type(2n) dd:nth-of-type(2n)
{
    background-color: #15191f;
}

.bar.HIT .title,.entry.HIT dd:nth-of-type(2n)
{
    background-color: #1b2028;
}

.bar.HIT:nth-of-type(2n),.entry.HIT:nth-of-type(2n) dd
{
    background-color: #0f1217;
}

.bar.SAN,.bar.NH:nth-of-type(2n) .title,.entry.NH dd,.entry.NH:nth-of-type(2n) dd:nth-of-type(2n)
{
    background-color: #520e18;
}

.bar.NH .title,.entry.NH dd:nth-of-type(2n)
{
    background-color: #5f131f;
}

.bar.NH:nth-of-type(2n),.entry.NH:nth-of-type(2n) dd
{
    background-color: #420911;
}

.bar.SAN,.bar.NONE:nth-of-type(2n) .title,.entry.NONE dd,.entry.NONE:nth-of-type(2n) dd:nth-of-type(2n)
{
    background-color: #500d07;
}

.bar.NONE .title,.entry.NONE dd:nth-of-type(2n)
{
    background-color: #5d110a;
}

.bar.NONE:nth-of-type(2n),.entry.NONE:nth-of-type(2n) dd
{
    background-color: #400904;
}