/*-- main three colours --*/
.bar.SAN,.bar.SAN:nth-of-type(2n) .title,.entry.SAN dd,.entry.SAN:nth-of-type(2n) dd:nth-of-type(2n)
{
    background-color: #562819;
}

.bar.SAN .title,.entry.SAN dd:nth-of-type(2n),.entry-box.SAN .title
{
    background-color: #633220;
}

.bar.SAN:nth-of-type(2n),.entry.SAN:nth-of-type(2n) dd,.entry-box.SAN
{
    background-color: #461e12;
}

.bar.PX,.bar.PX:nth-of-type(2n) .title,.entry.PX dd,.entry.PX:nth-of-type(2n) dd:nth-of-type(2n)
{
    background-color: #092d57;
}

.bar.PX .title,.entry.PX dd:nth-of-type(2n),.entry-box.PX .title
{
    background-color: #0c3764;
}

.bar.PX:nth-of-type(2n),.entry.PX:nth-of-type(2n) dd,.entry-box.PX
{
    background-color: #052246;
}

.bar.HIT,.bar.HIT:nth-of-type(2n) .title,.entry.HIT dd,.entry.HIT:nth-of-type(2n) dd:nth-of-type(2n)
{
    background-color: #15191f;
}

.bar.HIT .title,.entry.HIT dd:nth-of-type(2n),.entry-box.HIT .title
{
    background-color: #1b2028;
}

.bar.HIT:nth-of-type(2n),.entry.HIT:nth-of-type(2n) dd,.entry-box.HIT
{
    background-color: #0f1217;
}

.bar.NH,.bar.NH:nth-of-type(2n) .title,.entry.NH dd,.entry.NH:nth-of-type(2n) dd:nth-of-type(2n)
{
    background-color: #520e18;
}

.bar.NH .title,.entry.NH dd:nth-of-type(2n),.entry-box.NH .title
{
    background-color: #5f131f;
}

.bar.NH:nth-of-type(2n),.entry.NH:nth-of-type(2n) dd,.entry-box.NH
{
    background-color: #420911;
}

.bar.NONE,.bar.NONE:nth-of-type(2n) .title,.entry.NONE dd,.entry.NONE:nth-of-type(2n) dd:nth-of-type(2n)
{
    background-color: #500d07;
}

.bar.NONE .title,.entry.NONE dd:nth-of-type(2n),.entry-box.NONE .title
{
    background-color: #5d110a;
}

.bar.NONE:nth-of-type(2n),.entry.NONE:nth-of-type(2n) dd,.entry-box.NONE
{
    background-color: #400904;
}

.bar.DL,.bar.DL:nth-of-type(2n) .title,.entry.DL dd,.entry.DL:nth-of-type(2n) dd:nth-of-type(2n)
{
    /* medium colour */
    background-color: #414a53;
}

.bar.DL .title,.entry.DL dd:nth-of-type(2n),.entry-box.DL .title
{
    /* light colour */
    background-color: #4d5760;
}

.bar.DL:nth-of-type(2n),.entry.DL:nth-of-type(2n) dd,.entry-box.DL
{
    /* dark colour */
    background-color: #343c43;
}

/*-- entry box borders --*/
.entry-box.SAN
{
    border: 2px solid #633220;
}

.entry-box.PX
{
    border: 2px solid #0c3764;
}

.entry-box.HIT
{
    border: 2px solid #1b2028;
}

.entry-box.NH
{
    border: 2px solid #5f131f;
}

.entry-box.NONE
{
    border: 2px solid #5d110a;
}

.entry-box.DL
{
    border: 2px solid #4d5760;
}

/*-- tag colours --*/
.entry-box.SAN .tag,.type-tag.SAN
{
    background-color: #fe7431;
}

.entry-box.PX .tag,.type-tag.PX
{
    background-color: #1198f6;
}

.entry-box.HIT .tag
{
    background-color: #d45049;
}

.entry-box.NH .tag,.type-tag.NH
{
    background-color: #eb2955;
}

.entry-box.NONE .tag,.type-tag.HIT
{
    background-color: #171717;
}

.entry-box.NH .tag,.type-tag.NH
{
    background-color: #607191;
}