@charset "UTF-8";

body
{
    margin: 0;
    width: 260px;
    background-color: #2d2d2d;
    color: white;
    font-size: 0;
}

/*-- tab count bar --*/
.tab-counts
{
    height: 40px;
    padding-top: 5px;
}

.tab-counts .tab-count,.button
{
    display: inline-block;
    width: 50%;
    height: 100%;
}

.tab-count>div
{
    width: 100%;
}

.tab-count .count
{
    height: 25px;
    font-size: 25px;
    text-align: center;
    line-height: 25px;
}

.tab-count .text
{
    height: 15px;
    font-size: 11px;
    text-align: center;
}

.tab-count.unknown
{
    color: #cd331c;
}

/*-- tab bar --*/
.tab-bars
{
    margin-top: 7px;
    min-height: 255px;
    max-height: 455px;
    overflow: auto;
}

.bar
{
    width: 100%;
    min-height: 30px;
}

.bar>div
{
    display: inline-block;
    min-height: 30px;
    font-size: 15px;
    vertical-align: top;
    padding-top: 4px;
    box-sizing: border-box;
}

.bar .type
{
    width: 30%;
    text-align: center;
}

.bar .title
{
    width: 70%;
    padding-left: 5px;
    overflow-wrap: break-word;
}

/*-- button controls --*/
.controls
{
    background-color: #101010;
}

.button
{
    width: 86px;
    vertical-align: top;
    padding-top: 3px;
    cursor: pointer;
    transition: opacity .2s;
}

.button>div
{
    font-size: 13px;
    text-align: center;
    padding-bottom: 8px;
}

.button:hover
{
    opacity: .7;
}

.button:active
{
    opacity: .5;
}

.button.deselectable
{
    opacity: .5;
    cursor: default;
}