@charset "UTF-8";

body
{
    margin: 0;
    width: 200px;
    min-height: 300px;
    background-color: #2d2d2d;
    color: white;
    font-size: 0;
}

/*-- tab count bar --*/
.tab-counts
{
    height: 40px;
    padding-top: 5px;
}

.tab-counts .tab-count
{
    display: inline-block;
    width: 50%;
    height: 100%;
}

.tab-count>div
{
    width: 100%;
}

.tab-count .count
{
    height: 25px;
    font-size: 25px;
    text-align: center;
    line-height: 25px;
}

.tab-count .text
{
    height: 15px;
    font-size: 11px;
    text-align: center;
}

.tab-count.unknown
{
    color: #cd331c;
}

/*-- tab bar --*/
.tab-bars
{
    margin-top: 7px;
}

.bar
{
    width: 100%;
    min-height: 30px;
}

.bar>div
{
    display: inline-block;
    min-height: 30px;
    font-size: 15px;
    vertical-align: top;
    padding-top: 4px;
    box-sizing: border-box;
}

.bar .type
{
    width: 30%;
    text-align: center;
}

.bar .title
{
    width: 70%;
    padding-left: 5px;
}

/*-- tab bar colours --*/
.bar.san,.bar.san:nth-of-type(2n) .title
{
    background-color: #562819;
}

.bar.san .title
{
    background-color: #633220;
}

.bar.san:nth-of-type(2n)
{
    background-color: #461e12;
}

.bar.pix,.bar.pix:nth-of-type(2n) .title
{
    background-color: #092d57;
}

.bar.pix .title
{
    background-color: #0c3764;
}

.bar.pix:nth-of-type(2n)
{
    background-color: #052246;
}

.bar.hitomi,.bar.hitomi:nth-of-type(2n) .title
{
    background-color: #15191f;
}

.bar.hitomi .title
{
    background-color: #1b2028;
}

.bar.hitomi:nth-of-type(2n)
{
    background-color: #0f1217;
}

.bar.nh,.bar.nh:nth-of-type(2n) .title
{
    background-color: #520e18;
}

.bar.nh .title
{
    background-color: #5f131f;
}

.bar.nh:nth-of-type(2n)
{
    background-color: #420911;
}

.bar.other,.bar.other:nth-of-type(2n) .title
{
    background-color: #500d07;
}

.bar.other .title
{
    background-color: #5d110a;
}

.bar.other:nth-of-type(2n)
{
    background-color: #400904;
}