@charset "UTF-8";

html
{
    width: 100%;
    height: 100%;
}

body
{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #222222;
    font-size: 0;
}

textarea
{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background-color: #191919;
    color: white;
    resize: none;
    font-size: 12px;
    box-sizing: border-box;
    padding: 5px;
}

.gen-input
{
    width: 100%;
    height: 20%;
    word-break: break-all;
}

.manual-input
{

    height: 70%;
    white-space: nowrap;
}

.manual-input.imgs
{
    width: 40%;
    background-color: #232c27;
}

.manual-input.tags
{
    width: 60%;
    background-color: #1c1f26;
}

.combine-button
{
    display: flex;
    width: 100%;
    height: 10%;
    color: white;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.combine-button:hover
{
    background-color: rgba(255,255,255,.01);
}