@charset "UTF-8";

body
{
    margin: 0;
    font-size: 0;
    color: white;
    background-color: #2d2d2d;
}

dl,dd
{
    margin: 0;
}

/*-- entry --*/
.entry
{
    width: 100%;
    min-height: 25px;
}

.entry dl
{
    display: flex;
    min-height: 25px;
}

.entry dd
{
    display: inline-block;
    min-height: 100%;
    font-size: 16px;
    padding: 1px 5px 1px 5px;
    box-sizing: border-box;
}

.entry dd:focus
{
    outline: none;
}

.entry .number,.entry .type
{
    width: 5%;
}

.entry .title
{
    width: 20%;
}

.entry .img-link
{
    width: 30%;
}

.entry .tags
{
    width: 40%;
}

/*-- controls --*/
.controls
{
    height: 80px;
    background-color: #101010;
    padding: 6px;
}

.controls .button
{
    display: inline-block;
    height: 100%;
    width: 86px;
    font-size: 13px;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    user-select: none;
    transition: opacity .2s;
}

.button:hover
{
    opacity: .7;
}

.button:active
{
    opacity: .5;
}