@charset "UTF-8";

body
{
    margin: 0;
    font-size: 0;
    color: white;
    background-color: #2d2d2d;
}

dl,dd
{
    margin: 0;
}

/*-- entry --*/
.entry
{
    width: 100%;
    min-height: 25px;
}

.entry dl
{
    display: flex;
    min-height: 25px;
}

.entry dd
{
    display: inline-block;
    min-height: 100%;
    font-size: 16px;
    padding: 1px 5px 1px 5px;
    box-sizing: border-box;
}

.entry dd:focus
{
    outline: none;
}

.entry .number,.entry .type
{
    width: 5%;
}

.entry .title
{
    width: 20%;
}

.entry .img-link
{
    width: 30%;
}

.entry .tags
{
    width: 40%;
}