@charset "UTF-8";

@font-face
{
    font-family: "ftbook";
    src: url("/fonts/ftbook.otf");
}

@font-face
{
    font-family: "ftbooki";
    src: url("/fonts/ftbooki.otf");
}

body
{
    margin: 30px;
    font-size: 0;
    color: white;
    background-color: #222222;
    font-family: "ftbook";
}

a
{
    color: white;
    text-decoration: none;
}

input
{
    font-family: "ftbook";
    border: 0;
    padding: 0;
    outline: none;
    color: white;
    background-color: transparent;
}

/*-- entry box --*/
.entry-box
{
    display: inline-block;
    width: 400px;
    min-height: 200px;
    margin: 10px;
    background-color: #222222;
    border: 2px solid #2d2d2d;
    box-sizing: border-box;
    vertical-align: top;
}

.entry-box .title
{
    width: 100%;
    min-height: 40px;
    background-color: #2d2d2d;
    font-size: 22px;
    padding: 3px 5px 5px 15px;
    box-sizing: border-box;
}

.entry-box .bot-box
{
    height: 200px;
    display: flex;
}

.entry-box .bot-box>div
{
    height: 100%;
    vertical-align: top;
}

.bot-box .img-box
{
    display: flex;
    max-width: 50%;
    text-align: center;
    align-items: center;
    overflow: hidden;
}

.img-box img
{
    height: 100%;
    object-fit: cover;
}

.img-box.wide
{
    width: 50%;
}

.img-box.wide img
{
    height: auto;
    width: 100%;
}

.entry-box .info>div
{
    width: 100%;
}

.bot-box .info
{
    position: relative;
    flex: 1;
}

.entry-box .info .tags
{
    height: 80%;
    padding: 2px 5px 2px 5px;
    box-sizing: border-box;
}

.tags .tag
{
    display: inline-block;
    font-size: 19px;
    padding: 2px 7px 2px 6px;
    margin: 1.5px;
    border-radius: 1.3px;
    background-color: blueviolet;
}

.info .type
{
    height: 20%;
    text-align: center;
}

.type .type-inside
{
    display: inline-block;
    width: 70%;
    font-size: 19px;
    padding-top: 7px;
    border-top: 1px solid white;
}

.info .id-label
{
    position: absolute;
    width: 100%;
    height: 45%;
    bottom: 0;
    left: 0;
    font-size: 80px;
    text-align: right;
    opacity: .1;
    user-select: none;
}

/*-- edit mode --*/
.slider-hold
{
    overflow: hidden;
    height: 200px;
}

.slider.edit-mode
{
    transform: translateY(-200px);
}

.edit-pane .edit-row
{
    width: 100%;
    height: 30px;
}

.edit-row .label,.edit-row .toggle,.edit-row.buttons .button
{
    display: inline-block;
    width: 24%;
    font-size: 20px;
    text-align: center;
}

.edit-row input
{
    width: 70%;
    height: 100%;
    font-size: 20px;
    border-bottom: 1px solid white;
    padding-left: 8px;
    box-sizing: border-box;
}

.edit-row.type input
{
    width: 24%;
    text-align: center;
    padding-left: 0;
}

.edit-row .toggle
{
    width: auto;
    padding: 0 4px 0 4px;
    border-bottom: 2px solid white;
    cursor: pointer;
}

.edit-row .toggle:hover
{
    background-color: rgba(255,255,255,.2);
}

.edit-row.buttons
{
    height: 45px;
    margin-top: 5px;
}

.edit-row.buttons .button
{
    height: 100%;
    padding-top: 9px;
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color .2s;
    user-select: none;
}

.button:hover
{
    background-color: rgba(255,255,255,.2);
}

.button.delete:hover
{
    background-color: rgba(219,0,37,.45);
}

.edit-row.buttons .button.bigger
{
    width: 38%;
}